<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--    ru.Notebook bean-->
    <bean id="note" class="ru.Notebook">
        <constructor-arg value="Asus"/>
    </bean>

<!--    <bean id="pc" class="ru.PC">-->
<!--    </bean>-->

    <!--    ru.Programmer bean -->
    <bean id="programmer" class="ru.Programmer">
        <qualifier type="ru.Notebook"/>
        <constructor-arg ref="note"/>
    </bean>

    <!--    BAD PRACTICE-->
    <!--    <bean id = "programmer" class="ru.Programmer">-->
    <!--        <property name="computer" ref="note"/>-->
    <!--    </bean> -->
    <!--    -->

</beans>